* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-decoration: none;
    outline: none;
}

/* navbar starts here */
body {
    margin-left: 20px;
    margin-right: 20px;
    font-family: General_Sans_Variable, sans-serif;
}

#navbar {
    height: 20vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    position: fixed;
}

#logo {
    position: relative;
    right: 60px;
}

#search_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    width: 360px;
    height: 45px;
    border-radius: 30px;
    border: 2px solid black;
    padding-left: 20px;
    position: relative;
    right: 100px;
    overflow: hidden;
    background-color: #F6F5F2;
    border-color: transparent;
}

#menu_items {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    position: relative;
    right: 140px;
}

#cart_contact {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    column-gap: 10px;
}

#hero {
    background-image: url(images/home-cover-1.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 100px;
    padding-left: 30px;
    background-position-x: 100%;
}

/* nav bar ends here */
.black_texts {
    color: black;
}

.hero_button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    height: 50px;
    width: 290px;
    border-radius: 30px;
    position: relative;
    top: 110px;
}

.second_section {
    height: 80vh;
    background-color: #F6F5F2;
    padding-top: 60px;
    overflow: hidden;
}

.images_grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.title_2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
    padding-left: 20px;
}

.align_text_center {
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    }

.third_section {
    margin-top: 60px;
    width: auto;
}
.crossed_digits{
    text-decoration: line-through;
    opacity: 0.5;
}

.second_grid_title {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
}

.second_grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    margin-top: 20px;
}

.font_size_20 {
    font-size: 20px;
}

.text_under_grid_2 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-weight: 500px;
    align-items: center;
}

.add_to_cart_buttons {
    height: 41px;
    width: 150px;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid black;
    font-weight: bold;
}

.left_image {
    background-image: url(images/home-cover-3.png);
    width: 644px;
    height: 633px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.center_text{
    text-align: center;
    font-size: 18px;
}

.right_image {
    background-image: url(images/home-cover-4.png);
    width: 644px;
    height: 633px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fourth_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.text_on_image {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    text-align: center;
    font-weight: 100px;
    row-gap: 20px;
    padding-top: 40px;
}

.font_headings {
    font-size: 48px;
    text-align: center;
}

.font_paragraphs {
    width: 50%;
    line-height: 28px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.fourth_section_buttons {
    border: 1px solid white;
    color: white;
    background-color: transparent;
    width: 220px;
    height: 53px;
    border-radius: 30px;
    font-size: 20px;
}

.fifth_section {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.fifth_section_title{
display: flex;
flex-direction: column;
align-items: center;
row-gap: 20px;

}
.fifth_section_images{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding-top: 20px;
}

.text_on_fifth{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.sixth_section{
    background-color: #F6F5F2;
    margin-top: 60px;
    overflow: hidden;
    padding: 20px;
}
.sixth_section_all{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
}
.sixth_section_title{
display: flex;
flex-direction: column;
row-gap: 30px;
padding-top: 20px;
}
.text_width{
width: 60%;
}

/*changes to image*/
.sixth_image{
object-fit: cover;
width: 80%; 
}   
.seventh_section{
    background-image: url(images/7_sec_img.png);
    height: 100vh;
    background-size: cover;
    background-position-x: -300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
    padding-top: 100px;
}
.text_on_bg{
text-align: center; 
}
.title_on_bg{
    font-size: 48px;
}
.btn_on_image{
    height: 52px;
    width: 232px;
    margin-top: 30px; 
    border: 1px solid white;
    background-color: transparent;
    border-radius: 30px;
    color: white;
    font-size: 18px;
}
.hover_items:hover{
    text-decoration: 1px underline;
}
footer{
    background-color: #F6F5F2;
    height: 80vh;
}
